doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
<link rel="icon" href="header_iota.png" type="image/x-icon"">
  title IOTA MAM App
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css', integrity='sha256-NJWeQ+bs82iAeoT5Ktmqbi3NXwxcHlfaVejzJI2dklU=', crossorigin='anonymous')
  link(href='/jumbotron.css', rel='stylesheet')
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  a.navbar-brand(href='#') IOTA
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/')
          | Home 
          span.sr-only (current)
      li.nav-item.dropdown.active
        a#dropdown01.nav-link.dropdown-toggle(href='javascript:void(0)', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sensor
        .dropdown-menu(aria-labelledby='dropdown01')
          a.dropdown-item(href='/temperature') Temperature
          a.dropdown-item(href='/humidity') Humidity
main(role='main')
  .jumbotron
    .container
      h1.display-3 Cold-Chain monitoring App
      p This is a real-time decentralized Application based on MAM Protocol.
      p
        a.btn.btn-primary.btn-lg(href='https://github.com/RayanAAY-ops', role='button') Learn more &raquo;
        //img(src="header_iota.png"  width= "300" height="350" style="float:right;margin-left:100px;margin-top:-200px;margin-right:700px;max-width: 100%;height:auto;")
  .container
    .row
      .col-md-4
        h2 IOTA 
        p
          | IOTA is an experimental cryptocurrency and an open-source protocol that aims to provide a secure payment method for the monetization of data between so-called Internet of Things devices.
        p
          a.btn.btn-secondary(href='https://www.iota.org', role='button') View details &raquo;
      .col-md-4
        h2 MAM Protocol
        p
          | Masked Authenticated Messaging (MAM) is a data communication protocol that allows you to publish encrypted data streams, called channels, in transactions in the Tangle.Streams is the predecessor of MAM.
        p
          a.btn.btn-secondary(href='https://docs.iota.org/docs/client-libraries/0.1/mam/introduction/overview', role='button') View details &raquo;
      .col-md-4
footer.container
  p &copy; Rayane AIT ALI YAHIA
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js', integrity='sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=', crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js', integrity='sha256-78rSZBnBJXmJ5VGuWL8mkunvhy94g99Rw53bssjHSUk=', crossorigin='anonymous')
